{% load static staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            Documenter - {% block title %}{% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'glyphicons/styles/glyphicons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/documenter.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'select2/dist/css/select2.min.css'%}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        
        {% block css %}
        {% endblock%}
        
        {% block head %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">       
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top border-bottom border-black">
			  <a class="navbar-brand" href="/">Documenter</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav m-auto">
			          <li class="nav-item"><a class="nav-link active" href="{% url 'get-next' %}">Get New Document</a>
			          <li class="nav-item"><a class="nav-link" href="{% url 'doc-list' %}">List Results</a></li>
			          <li class="nav-item"><a class="nav-link" href="{% url 'export' %}">Download Results</a></li>
			    </ul>
			 
			  	 <ul class="navbar-nav ml-auto">
			  	 	<li class="nav-item mr-2">
                        <div class="btn-group">
                          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Mode: Preview
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item active" href="#">Preview</a>
                            <a class="dropdown-item disabled" href="#">Edit</a>
                          </div>
                        </div>			  	    
			  	    </li>
			  	    <li class="nav-item mr-2">
                        <div class="btn-group">
                          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Project: SPIA Doc Review
                          </button>
                          <div class="dropdown-menu">
                                No other projects are assigned to you.
                          </div>
                        </div>			  	    
			  	    </li>
			  	    <li class="nav-item mr-2">
                        <div class="btn-group">
                          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Role: Reviewer
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item active" href="#">Reviewer</a>
                            <a class="dropdown-item disabled" href="#">Project Manager</a>
                            <a class="dropdown-item disabled" href="#">Admin</a>
                          </div>
                        </div>			  	    
			  	    </li>
			  		<li class="nav-item">
			            {% if user.is_authenticated %}
			                <a class="btn btn-sm btn-outline-danger" href="{% url 'logout' %}">Sign Out</a>    
			            {% else %}
			                <a class="btn btn-sm btn-outline-light" href="{% url 'login' %}">Sign In</a>
			            {% endif %}
			      </li>
			    </ul>
			    </div>
			  
			</nav>

        
        <main role="main" class="container-fluid h-100" style="padding-bottom: 1.7em;">
              {% block js_before_content %}{% endblock %}
              {% block content %}{% endblock %}
        </main>
        <footer class="footer d-flex fixed-bottom bg-dark text-light" role="footer">
        		<h6 class="pr-5 mb-0">Created By: Brian J. Goode</h6>
        		<h6 class="mb-0">Powered By: Django</h6>
        </footer>       

    {% block modals %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src= "{% static 'jquery/dist/jquery.js' %}"></script>
        <script type="text/javascript" src= "{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-form/dist/jquery.form.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'datatables.net/js/jquery.dataTables.js'%}"></script>
        <script type="text/javascript" src="{% static 'datatables.net-bs4/js/dataTables.bootstrap4.js'%}"></script>
        <script type="text/javascript" src="{% static 'select2/dist/js/select2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'Scrollify/jquery.scrollify.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
    

</html>