{% load static staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            Documenter - {% block title %}{% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'glyphicons/styles/glyphicons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/documenter.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.css'%}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        
        {% block css %}
        {% endblock%}
        
        {% block head %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">       
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
			  <a class="navbar-brand" href="/">Documenter</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			
			  {% comment %}
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav m-auto">
			      <div class="btn-group">
			          <a class="btn btn-primary mb-2" href="{% url 'get-next' %}">Get New Document</a>
			          <a class="btn btn-primary mb-2" href="{% url 'doc-list' %}">List Results</a>
			          <a class="btn btn-primary mb-2" href="{% url 'export' %}">Download Results</a>
			      </div>
			    </ul>
			  </div>
			  {% endcomment %}
			  
			  <div>
			  	 <ul class="navbar-nav ml-auto">
			  		<li class="nav-item">
			            {% if user.is_authenticated %}
			                <a class="text-light" href="{% url 'logout' %}">Sign Out, {{user}}</a>    
			            {% else %}
			                <a class="text-light" href="{% url 'login' %}">Sign In</a>
			            {% endif %}
			      </li>
			    </ul>
			  </div>
			</nav>

<div class="container-fluid h-100 d-flex flex-column">
        <main role="main" class="flex-grow">
              {% block js_before_content %}{% endblock %}
              {% block content %}{% endblock %}
        </main>
        <footer class="d-flex" role="footer" style="height: 30px;">
        		<h6 class="pr-5">Created By: Brian J. Goode</h6>
        		<h6>Powered By: Django</h6>
        </footer>
</div>       

    {% block modals %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src= "{% static 'jquery/dist/jquery.js' %}"></script>
        <script type="text/javascript" src= "{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-form/dist/jquery.form.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'datatables.net/js/jquery.dataTables.js'%}"></script>
        <script type="text/javascript" src="{% static 'datatables.net-bs4/js/dataTables.bootstrap4.js'%}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
    

</html>